# Can ignore specific files
C
sined/src/sined
middleware/sined
middleware/socks
middleware/locationMgr/lm
protocols/mih/boost_1_48_0
protocols/mih/odtone/bin.v2
protocols/mih/odtone/dist/output
protocols/mih/odtone/dist/output_miis
protocols/mih/odtone/dist/802_11/output
protocols/mih/odtone/dist/802_3/output
protocols/mih/odtone/dist/lte/output
protocols/mih/odtone/dist/client
protocols/mih/odtone/dist/dummyserver
protocols/mih/odtone/dist/link_sap
protocols/mih/odtone/dist/link_sap.conf
protocols/mih/odtone/dist/mih_usr
protocols/mih/odtone/dist/mih_usr.conf
protocols/mih/odtone/dist/miis_rdf_server
protocols/mih/odtone/dist/miis_rdf_server.conf
protocols/mih/odtone/dist/odtone-mihf
#protocols/mih/odtone/dist/odtone.conf
protocols/openhip/src/hip
protocols/openhip/src/hipstatus
protocols/openhip/src/hitgen
protocols/openhip/src/.deps
protocols/umip/src/mip6d
protocols/umip/src/gram.c
protocols/umip/src/gram.h
protocols/umip/src/pmgr.c
protocols/umip/src/pmgr.h
protocols/umip/src/scan.c
protocols/mih/odtone/dist/output
protocols/mih/odtone/dist/output_miis
protocols/mih/output
protocols/mih/output_miis
experiments/vlc-1.1.13

# Use wildcards as well
*~
*.swp
*.swo
*.o
*.a
*.so
*.man
*.Po
*.tar.gz
*.tar.bz2
*.out

# Can also ignore all directories and files in a directory.
bin
build
config.h
config.log
config.status
.deps
